<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <header>Music App</header>
      <div class='nav-buttons'>
        <a href="#">login</a>
        <a href="#">logout</a>
      </div>
      <%# if logged_in? %>
          <!--<button value= <%#= logout! %> Sign-out!</button>> -->
        <%# else %>
          <!--<button value= <%#= login %> Sign-in!</button>> -->
      <%# end %>
    </nav>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
