<% if cat.persisted? %>
    <% action_url = cat_url(cat) %>
    <% button_text = 'Edit Cat!' %>
<% else %>
    <% action_url = cats_url %>
    <% button_text = 'Create Cat!' %>
    <% method_text = 'POST' %>
<% end %>


<form action="<%= action_url %>" method='POST'>
    <% if cat.persisted? %>
        <input type='hidden' name='_method' value='PATCH'>
    <% end %>

    <label>
        Birth Date: <input type="date" name ="cat[birth_date]" value="<%= cat.birth_date %>">
    </label>

    <label> Color:
        <select name='cat[color]'>
        <option disabled value="-- select a color --">-- select a color --</option>
            <option <%= cat.color == COLOR[0] ? "selected" : "" %> value= <%= COLOR[0] %>> <%= COLOR[0] %> </option>
            <option <%= cat.color == COLOR[1] ? "selected" : "" %> value= <%= COLOR[1] %>> <%= COLOR[1] %> </option>
            <option <%= cat.color == COLOR[2] ? "selected" : "" %> value= <%= COLOR[2] %>> <%= COLOR[2] %> </option>
            <option <%= cat.color == COLOR[3] ? "selected" : "" %> value= <%= COLOR[3] %>> <%= COLOR[3] %> </option>
            <option <%= cat.color == COLOR[4] ? "selected" : "" %> value= <%= COLOR[4] %>> <%= COLOR[4] %> </option>
            <option <%= cat.color == COLOR[5] ? "selected" : "" %> value= <%= COLOR[5] %>> <%= COLOR[5] %> </option>
            <option <%= cat.color == COLOR[6] ? "selected" : "" %> value= <%= COLOR[6] %>> <%= COLOR[6] %> </option>
            <option <%= cat.color == COLOR[7] ? "selected" : "" %> value= <%= COLOR[7] %>> <%= COLOR[7] %> </option>
            <option <%= cat.color == COLOR[8] ? "selected" : "" %> value= <%= COLOR[8] %>> <%= COLOR[8] %> </option>
            <option <%= cat.color == COLOR[9] ? "selected" : "" %> value= <%= COLOR[9] %>> <%= COLOR[9] %> </option>
            <option <%= cat.color == COLOR[10] ? "selected" : "" %> value= <%= COLOR[10] %>> <%= COLOR[10] %> </option>
        </select>
    </label>

    <label>
        Name: <input type="text" name ="cat[name]" value="<%= cat.name %>">
    </label>

    <label> Sex: 
        <label for="M">M</label>
        <input type="radio" name ="cat[sex]" value="M" <%= cat.sex == "M" ? "checked" : "" %> >
        <label for="F">F</label>
        <input type="radio" name="cat[sex]" value="F" <%= cat.sex == "F" ? "checked" : "" %> >
    </label>

    <label>
        Description: <textarea name ="cat[description]" value= "cat[description]"><%= cat.description %></textarea>
    </label>

    <% if cat.persisted? %>
        <input type="submit" value="Edit Cat!">
    <% else %>
        <input type="submit" value="Create Cat!">
    <% end %>
</form>