<h1>LET'S MAKE A CAT!</h1>

<form action="<%= cats_url %>" method="POST">
    <label>
        Birth Date: <input type="date" name ="cat[birth_date]" value="<%= @cat.birth_date %>">
    </label>

    <label> Color:
        <select name='color'>
        <option selected disabled value="-- select a color --">-- select a color --</option>
            <option value="<%= @cat.color[0] %>"><%= @cat.color[0] %></option>
            <option value="<%= @cat.color[1] %>"><%= @cat.color[1] %></option>
            <option value="<%= @cat.color[2] %>"><%= @cat.color[2] %></option>
            <option value="<%= @cat.color[3] %>"><%= @cat.color[3] %></option>
            <option value="<%= @cat.color[4] %>"><%= @cat.color[4] %></option>
            <option value="<%= @cat.color[5] %>"><%= @cat.color[5] %></option>
            <option value="<%= @cat.color[6] %>"><%= @cat.color[6] %></option>
        </select>
    </label>

    <label>
        Name: <input type="text" name ="cat[name]" value="<%= @cat.name %>">
    </label>

    <label> Sex: 
        <label for="M">M</label>
        <input type="radio" name ="cat[sex]" value="M">
        <label for="F">F</label>
        <input type="radio" name ="cat[sex]" value="F">
    </label>

    <label>
        Description: <textarea name ="cat[description]" value="<%= @cat.description %>"></textarea>
    </label>

    <input type="submit" value="Create Cat!">
</form>